<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Foodiea requires access to camera for uploading profile and post images</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Allow app to use location to find nearby eats</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Allow app to use location to find nearby eats</string>
		<key>UIApplicationSupportsTabbedSceneCollection</key>
		<false/>
		<key>NSCameraUsageDescription</key>
		<string>Need camera access to take pictures</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Need library access to upload images</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
