<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_key</key>
	<string>0sg3h10p9FXbBfS4ZoJs5WxgImFVv1P5jquz95OZ</string>
	<key>GOOGLE_API_KEY</key>
	<string>AIzaSyCIRbmt85HhbGUBBsiBFVAL0PikGqPjpaA</string>
	<key>app_id</key>
	<string>sZPAwUgMAFxx6C6a2GLFrLG5eFOSBw7l6IXzhoyw</string>
</dict>
</plist>
